option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: flaskhello/__init__.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "farmersmarket/static/"
  "aws:elasticbeanstalk:application:environment":
    DEBUG: TRUE
    ON_HEROKU: TRUE
    TZ: America/New_York
    
